body{
	background-image: url("imagenes/como-fotografias-paisajes.jpg");
	background-size: cover;
}
#cabecera{
	background-color: white;


}
.ejemp{
	display: none;
	position: fixed;
  top: 30%;
  left: 40%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.segundo{
	display: none;
	position: fixed;

	    left: -16px;;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);


}
